header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.com

.centerDiv {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}